Se importan las librerías que vamos a utilizar.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Se cargan los archivos del set de datos.

In [4]:
trata = pd.read_excel('set-de-datos/data_glotip.xlsx',skiprows=2) #Lectura de Archivo

Informacion del dataframe.

In [5]:
trata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46556 entries, 0 to 46555
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            46530 non-null  object
 1   Country              45599 non-null  object
 2   Region               45599 non-null  object
 3   Subregion            45599 non-null  object
 4   Indicator            46556 non-null  object
 5   Dimension            46556 non-null  object
 6   Category             46469 non-null  object
 7   Sex                  46556 non-null  object
 8   Age                  46556 non-null  object
 9   Year                 46556 non-null  int64
 10  Unit of measurement  46556 non-null  object
 11  txtVALUE             46556 non-null  object
 12  Source               46556 non-null  object
dtypes: int64(1), object(12)
memory usage: 4.6+ MB

Se realiza vista previa del dataframe.

In [6]:
trata.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
1,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

Observamos los valores unicos de la columna categorias.

In [7]:
categorias = trata['Category'].unique()
print(categorias)
print(categorias.shape)

['Ukraine' 'Abroad' 'Total' 'Forced labour' 'Sexual exploitation' 'Congo'
 'Nationals' 'Namibia' 'Albania' 'Croatia' nan
 'Netherlands (Kingdom of the)' 'Norway' 'Portugal' '97 albanian'
 'Denmark' 'Serbia' 'Switzerland' 'Germany' 'Azerbaijan' 'Bangladesh'
 'China' 'India' 'Indonesia' 'Iraq' 'Kazakhstan' 'Morocco' 'Nigeria'
 'Pakistan' 'Philippines' 'Republic of Moldova' 'Russian Federation'
 'Syrian Arab Republic' 'Uzbekistan' 'Kyrgyzstan' 'Algeria' 'Armenia'
 'Ethiopia' 'Lebanon' 'Sri Lanka' 'Thailand' 'United Arab Emirates'
 'Nepal' 'Tajikistan' 'United Republic of Tanzania' 'Turkmenistan'
 'Colombia' 'Dominican Republic' 'Tunisia' 'Belarus' 'Uganda' 'Rwanda'
 'Argentina' 'Bolivia (Plurinational State of)' 'Paraguay' 'Peru' 'Brazil'
 'Chile' 'Ecuador' 'Uruguay' 'Venezuela (Bolivarian Republic of)'
 'Honduras' 'OTROS' 'ITALIA' 'Mexico' 'Bolivia' 'Brasil' 'Gana' 'Haiti'
 'R.Dominicana' 'Senegal' '0' 'Corea del Sur' 'Sudafrica' 'Panama'
 'Desconocido' 'Rusia' 'United States of America' 'Espa�a' 'Costa Rica'
 'Cuba' 'Jamaica' 'Marruecos' 'R.dominicana' 'Siria' 'Guatemala'
 'Republic of Korea' 'Malaysia' 'Australia' 'Unknown' 'Afghanistan'
 'Austria' 'Bulgaria' 'Hungary' 'Lithuania' 'Romania' 'Slovakia' 'Czechia'
 'The former Yugoslav Republic of Macedonia' 'Poland' 'Viet Nam'
 'TÃ¼rkiye' "Democratic People's Republic of Korea" 'Nicaragua'
 'Bosnia and Herzegovina' 'Italy' 'Kenya' 'Georgia' 'Benin'
 "CÃ´te d'Ivoire" 'Malta' 'Somalia' 'Spain' 'Burundi' 'Belgium'
 'Burkina Faso' 'Cameroon' 'Chad' 'Eritrea' 'France' 'Ghana' 'Jordan'
 'Egypt' 'State of Palestine' 'Iran (Islamic Republic of)' 'Mauritius'
 'Sierra Leone' 'Latvia' 'Bhutan' 'Guinea' 'Kosovo under UNSCR 1244'
 'Equatorial Guinea' 'Armenie' 'Bresil' 'Guinée' 'Hongrie' 'Inconnue'
 'Maroc' 'Montenegro' 'pays-bas' 'pologne' 'russie' 'thailande' 'tunisie'
 'North Macedonia' 'Niger' 'Mali' 'Gambia' 'Libya' 'Nederland' 'Slovenia'
 'croatia' 'El Salvador' 'Belizean' 'Honduranian' 'Guatemalan'
 'Hodruanian' 'Argentino' 'Belga' 'Brasilero' 'Chino'
 'Ciudadanos de su pa�s' 'Colombiano' 'Cubano' 'Haitiano' 'Keniano'
 'Paraguayo' 'Peruano' 'Sin determinar' 'TOTAL' 'Venezolano'
 '(especifique otras nacionalidades)' 'Guyana' 'Kurdistan, Iraq'
 'Bhuatnese' 'Mumbai, India' 'Botswana' 'Ethopia' 'Zambia' 'South Africa'
 'Japan' 'Zimbabwe' 'Canada' 'China, Taiwan Province of China'
 'China, Hong Kong SAR' 'Saudi Arabia' 'Israel' 'Togo' 'Mongolia'
 'Mozambique' 'Greece' 'Personnes de nationalit� �trang�re' 'Myanmar'
 'Cambodia' 'Timor-Leste' 'REPUBLICA DOMINICANA' 'ESPA�A' 'FILIPINAS'
 'FRANCIA' 'HOLANDA' 'INDIA' 'M�XICO' 'NORUEGA' 'PANAM�' 'PER�' 'QATAR'
 'SINGAPUR' 'SUIZA' 'TAILANDIA' 'BAHAMAS' 'EMIRATOS �RABES UNIDOS'
 'ISRAEL' 'REP�BLICA DOMINICANA' 'TURQU�A' 'ESTADOS UNIDOS DE AM�RICA'
 'BARSIL' 'GRAN BRETA�A' 'Panam�' 'Rep�blica Dominicana' 'Rep. Dominicana'
 '(especifique el pa�s)' 'Estonia' 'Cyprus' 'United Kingdom' 'Suriname'
 'Sudan' 'Cabo Verde' 'Ireland' 'Singapore' 'South Sudan' 'Albanian'
 'Bosnian' 'Gambian' 'Georgian' 'Ghanaian' 'Kosovo (under UNSC res. 1244)'
 'Macedonian' 'without' 'Africa others' 'EU-28 others' 'own country'
 'Byelorussian' 'Moldovan' 'Sierra Leonean' 'Spanish' 'vietnamese'
 'Europe others' 'no information' 'stateless' 'Belarussian' 'Cameroonian'
 'Congolese' 'Kirghiz' 'Madagascarian' 'Ugandan' 'Asia others' 'Moroco'
 'Liberia' 'Finland' 'Abania' 'Tanzania' 'Bosnia' 'Columbia'
 'Dominican Rep' 'Libanon' 'Stateless' 'Kosovo' 'Syriah' 'Alemania'
 'Canad�' 'Francia' 'Italia' 'Alemana' '3 maliens' '2 maliens'
 '3 nigériens et 1 tunisien' 'NO DETERMINADA' 'PERO' 'COLOMBIANA'
 'PERUANA' 'Yemen' 'Guinea-Bissau' 'Malawi' 'BIELORRUSIA' 'HUNGRÍA'
 'POLONIA' 'REPÚBLICA CHECA' 'UCRANIA' 'VIETNAM' 'CAMERUN' 'CAMERÚN'
 'GUINEA ECUATORIAL' 'KIRGUIZSTÁN' 'MÉXICO' 'SENEGAL'
 'Dem. Rep. of the Congo' 'Angola' 'Fiji' 'Gabon'
 "Lao People's Democratic Republic" 'Madagascar' 'Swaziland' 'Mauritania'
 'Western Sahara' 'United Kingdom of Great Britain and Northern Ireland'
 'Barbados' 'C�te d�Ivoire' 'Democratic Republic of the Congo' 'Kuwait'
 'Lybia' 'Oman' 'Palestine' 'Belize' 'Nationality' 'Qatar'
 'St Vincent and the Grenadines' 'Sweden' 'Trinidad and Tobago' 'T�rkiye'
 'China, Hong Kong Special Administrative Region'
 'Tanzania, United Republic of' 'TOTAL POR AÑO' 'BELICE�A' 'HONDURE�A'
 'SALVADORE�A' 'Salvadore�a' 'Guatemaltecos' 'Hondure�o'
 'Caribbean (Trinidad and Tobago, Barbados, etc)'
 'Other Countries (Dominica, Panama, French Guiana, Brazil, etc.)'
 'European Economic Area' 'M49 Region: Africa' 'M49 Region: Americas'
 'M49 Region: Asia' 'Amercias' 'Disputed' 'The Ukraine' 'Etiopia'
 'Former Yugoslavia' 'Bosnia Erzegovina' "Costa d'Avorio" 'Croazia'
 'Tunisa' 'Filippine' 'Sri lanka' 'ghana' 'Kazalhstan' 'south Africa'
 'Brazilian' 'Taiwanese' 'Luxembourg' 'francais' 'italien'
 'luxembourgeois' 'portugais' 'roumain' 'ukrainien' 'Roumanie'
 'République de Moldavie' 'République tchèque' 'brésilien' 'indien'
 'Ethiopie' 'Indonésie' 'Sénégal' 'chinois' 'albanian' 'B & H'
 'Myanmar Nation' 'Domestic (Myanmar)' 'MORROCAN' 'BANGLADESH' 'CAMBODIA'
 'INDONESIA' 'LAOS' 'MALAYSIA' 'MONGOLIA' 'MYANMAR' 'NEPAL' 'PHILIPPINES'
 'TAIWAN' 'THAILAND' 'UGANDA' 'Indian' 'Indonesian' 'Phillipines'
 'SRI LANKA' 'Angolans' 'Tanzanian' 'Zambian' 'Angolan' 'South African'
 'Benin Rep' "Cote d'ivoire" 'Guinea Conakry' 'Niger Rep' 'Central africa'
 'Sierra leone' 'Iceland' 'Saint Vincent and the Grenadines' 'Seychelles'
 'Netherlands (own country)' 'Former Czechoslovakia' 'Surinam'
 'The former Netherlands Antilles' 'Dominican Rebublic' 'Erithera' 'Samoa'
 'DESCONOCIDA' 'DOMINICANA' 'EL SALVADOR' 'Palau' 'Venezolana' 'BRASILERA'
 'NO REGISTRA' 'Spania' 'Sweeden' 'Solomon Islands' 'Kazahstan'
 'Monte Negro' "Lao People's Dem. Republic" 'Burmese' 'Eritrean'
 'Rohingya' 'South Korean' 'UKRAINE' 'Kazakhistan' 'AFGHANISTAN' 'MOLDOVA'
 'RUSSIA' 'TURKMENISTAN' 'AZERBAIJAN' 'ROMANIA' 'Lesotho' 'Maldives'
 'Other forms of exploitation']
(436,)

Se observa una lista extensa (436) valores unicos de la columna categoria por lo que al analizar el dataframe se observa que esta relacionada con la columna dimension, principalmente la variacion es por ciudadania/pais:

In [8]:
dimension = trata['Dimension'].unique()
print(dimension)

trata_exp = trata

['by country of repatriation' 'Total' 'by form of exploitation'
 'by citizenship']

Dejamos solo los valores para formas de explotacion

In [9]:
trata_exp = trata_exp[trata_exp['Dimension'] == 'by form of exploitation']

Y ahora vemos que el dataframe sin Dimension por ciudadania y pais, queda solo por categoria los valores unicos por trabajo forzado, explotacion sexual u otras formas de explotacion.

In [10]:
categ_nueva = trata_exp['Category'].unique()
categ_nueva

array(['Forced labour', 'Sexual exploitation',
       'Other forms of exploitation'], dtype=object)

In [11]:
trata_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13202 entries, 5 to 46555
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            13192 non-null  object
 1   Country              12826 non-null  object
 2   Region               12826 non-null  object
 3   Subregion            12826 non-null  object
 4   Indicator            13202 non-null  object
 5   Dimension            13202 non-null  object
 6   Category             13202 non-null  object
 7   Sex                  13202 non-null  object
 8   Age                  13202 non-null  object
 9   Year                 13202 non-null  int64
 10  Unit of measurement  13202 non-null  object
 11  txtVALUE             13202 non-null  object
 12  Source               13202 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.4+ MB

cantidad_casos = trata_exp['txtVALUE'].unique()
print(cantidad_casos)

Modificamos el valor "<5" para tomar valor numerico y quitar las comas de los miles.

In [12]:
condicion = trata_exp['txtVALUE'] == '<5'
trata_exp.loc[condicion, 'txtVALUE'] = '3'
trata_exp['txtVALUE'] = trata_exp['txtVALUE'].str.replace(',', '', regex=True)
trata_exp['txtVALUE'] = trata_exp['txtVALUE'].astype(int)

C:\Users\angel\AppData\Local\Temp\ipykernel_4724\692451802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trata_exp['txtVALUE'] = trata_exp['txtVALUE'].str.replace(',', '', regex=True)
C:\Users\angel\AppData\Local\Temp\ipykernel_4724\692451802.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trata_exp['txtVALUE'] = trata_exp['txtVALUE'].astype(int)

In [13]:
trata_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13202 entries, 5 to 46555
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            13192 non-null  object
 1   Country              12826 non-null  object
 2   Region               12826 non-null  object
 3   Subregion            12826 non-null  object
 4   Indicator            13202 non-null  object
 5   Dimension            13202 non-null  object
 6   Category             13202 non-null  object
 7   Sex                  13202 non-null  object
 8   Age                  13202 non-null  object
 9   Year                 13202 non-null  int64
 10  Unit of measurement  13202 non-null  object
 11  txtVALUE             13202 non-null  int32
 12  Source               13202 non-null  object
dtypes: int32(1), int64(1), object(11)
memory usage: 1.4+ MB

Agrupa por "País", y suma los valores

In [14]:
res_pais = trata_exp.groupby(['Country'])['txtVALUE'].sum().reset_index()
res_pais.sort_values(by='txtVALUE', ascending=False)

                                               Country  txtVALUE
175                           United States of America    115035
173  United Kingdom of Great Britain and Northern I...     56452
120                                            Nigeria     23395
75                                               India     22366
116                                        Netherlands     21227
..                                                 ...       ...
0                                          Afghanistan        33
13                                          Bangladesh        33
142                                         San Marino        30
143                                               Sark        30
71                                            Holy See        27

[183 rows x 2 columns]

Agrupa por "Categoria", y suma los valores

In [15]:
res_categ = trata_exp.groupby(['Category'])['txtVALUE'].sum().reset_index()
res_categ.sort_values(by='txtVALUE', ascending=False)

                      Category  txtVALUE
2          Sexual exploitation    319541
0                Forced labour    197068
1  Other forms of exploitation     97914